title {
    font-family: 'Optima', sans-serif;
}

body, input, textarea, button, select {
    margin: 0;
    padding: 0;
    font-family: 'Optima', sans-serif;
    font-size: 16px;
}

main {
    padding: 16px;
    background-color: whitesmoke;

}

header nav ul {
    border-bottom: 1px solid #CCC;
    box-sizing: border-box;
    list-style: none;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 0 0 0 1em;
}

header nav ul li {
    display: inline-block;
    margin: 0 1em;
    padding: 1em 0 1 em 0;
}

header nav ul li a {
    font-weight: bold;
    text-decoration: none;
}

input {
    height: 1.5em;
    margin: 0;
    padding: .25em .5em;
}

select {
    height: 2.5em;
}

textarea {
    margin: 0;
    padding: .25em .5 em;
}

table {
    width: 100%;
}

.login-form,
.signup-form {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 400px;
    padding: 2em;

}

.task-form,
.project-form {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 600px;
    padding: 2em;
}

.task-form p,
.login-form p,
.signup-form p,
.project-form p {
    display: grid;
    align-items: center;
    column-gap: 10px;
    grid-template-columns: 100px 1fr;
}

.task-form button,
.my-tasks-list button,
.login-form button,
.signup-form button,
.project-form button {
    padding: 0.5em 1em
}

.my-tasks-list,
.project-list,
.project-detail {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 800px;
    padding: 2em;
}

.my-tasks-list thead tr th,
.project-list thead tr th,
.project-detail thead tr th {
    border-bottom: 2px solid #DEDEDE;
}

.my-tasks-list tbody :not(tr:last-child) td,
.project-list tbody :not(tr:last-child) td,
.project-detail tbody :not(tr:last-child) td {
    border-bottom: 1px solid #DEDEDE
}

footer {
    padding: 24px 0px 24px 0px;
}

/* img {
    height: 200px;
    box-shadow: 1px 1px 1px lightblue;
} */

nav {
    border-bottom: 1px black;
    padding: 16px;
}

/* .recipe {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    column-gap: 20px;
    grid-template-rows: 350px 350px;
    row-gap: 20px;
    grid-auto-flow: row;
} */

nav {
    background-color: rgb(159, 226, 212);
}


footer {
    background-color: rgb(34, 164, 158);
    padding: 50px;
    color: white
}

a {
    text-decoration: none;
    color: rgb(23, 54, 14);
}

.border {
    border-bottom: 10px rgb(26, 123, 213);
}

.list {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    column-gap: 5px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgb(231, 245, 248);
}

th {
    background-color: rgb(220, 231, 235);
}
