
{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/projects.css" %}">
</head>

<body>

    {% block content %}{% endblock content %}

    <footer>
Task Maxer 2022
    </footer>
</body>
</html>
